<div class="container-fluid">

    <!-- ITEM GRID -->
    <div class="col-sm-6 col-md-4 col-lg-3" ng-repeat="item in items | orderBy:sort">
        <div class="thumbnail" role="button" ui-sref="viewItem({ id:item.id })">
            <img style="height: 200px;" class="img-responsive" ng-if="item.images.length > 0" ng-src="/images/{{item.images[0].url}}">
            <img style="height: 200px;" class="img-responsive" ng-if="item.images.length == 0" ng-src="/images/no_image.jpg">
            <div class="caption" style="color:#558C89; font-size: 150%">
                <h1> {{item.name}} </h1>
                current bid at <strong>${{item.currently}}</strong>
                <br>
                buy now for <strong>${{item.buyPrice}}</strong>
                <br>

                <a ui-sref="viewItem({ id:item.id })" class="btn btn-primary" role="button">View</a>

            </div>
        </div>
    </div>

</div>