<div class="container-fluid">
    <!-- ITEM BLOCK -->
    <div class="jumbotron">
        <div class="row">
            <div class="col-md-5">
                <a href="#" class="thumbnail">
                    <img src="http://images.esellerpro.com/2209/I/594/81/U2185%20BLUE%20NEXUS%204%20S%20LINE%20front.jpg" alt="item thumbnail">
                </a>
            </div><!--col lg-->
            <div class="col-md-5">
                <div class="page-header">
                    <h1>{{item.name}} <small ng-repeat="category in item.categories | orderBy:name">{{category.name}}</small></h1>
                    <p>{{item.description}}</p>
                </div>
            </div>
        </div> <!--row-->
    </div>

</div>