<div class="container-fluid">
    <!-- ITEM BLOCK -->
    <div class="jumbotron">
        <div class="row">
            <div class="col-md-5">
                <div ng-show="imageCount > 0" class="thumbnail">
                    <img ng-src="/images/{{item.images[imageIndex].url}}" alt="item thumbnail">
                    <a ng-click="imageIndex = (imageIndex + 1) % imageCount"><i class="glyphicon glyphicon-chevron-right"></i></a>
                </div>
            </div><!--col lg-->
            <div class="col-md-5">
                <div class="page-header">
                    <h1>{{item.name}} <small ng-repeat="category in item.categories | orderBy:name">{{category.name}}</small></h1>
                    <p>{{item.description}}</p>

                    <form ng-if="role() == 'USER'" name = "bidForm" ng-submit="bidForm.$valid && createBid()">
                        <input type="number" class="form-control" ng-model="bid.amount" value="{{bid.amount}}" min="{{bid.amount}}" required>
                        <br>
                        <button type="submit" class="btn btn-lg btn-primary">Bid</button>
                    </form>

                </div>
            </div>
        </div> <!--row-->
    </div>

</div>