<div class="container-fluid">
    <div class="row">
        <div class="col-md-8 col-md-offset-2">
            <h1>Active Auctions</h1>
            <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
                <div class="panel panel-default no-border" ng-repeat="bid in bids | orderBy:sort">
                    <div class="panel-heading no-border" role="tab" id="heading{{item.id}}">
                        <h4 class="panel-title">
                            <div role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse{{bid.item.id}}" aria-expanded="false" aria-controls="collapse{{item.id}}">
                                <h1>{{bid.item.name}}</h1>
                                <h3>Your Bid : {{bid.amount | currency}}</h3>
                                <h4>Current : {{bid.item.currently | currency}}</h4>
                            </div>
                        </h4>
                    </div>
                    <div id="collapse{{item.id}}" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading{{bid.item.id}}">
                        <div class="panel-body no-border">
                            Number of bids : {{ bid.item.numberOfBids }}
                        </div>
                    </div>
                </div>
            </div>
        </div><!--col lg-->
    </div> <!--row-->
</div>