
<div class="container-fluid">
    <link rel="stylesheet" href="/css/user-panel.css">

    <div class="row" ng-if="getRole() == 'ADMIN'" ng-controller="AdminController">
        <div class="col-sm-12" style="text-align:center;">
            <h3 style="text-align:center;"> Status : {{ user.accountStatus }} </h3>
            <div ng-if="user.accountStatus == 'PENDING'">
                <button  class="btn btn-lg  btn-danger" ng-click="accept(user.username)">Accept</button>
                <button class="btn btn-lg  btn-danger" ng-click="reject(user.username)">Reject</button>
            </div>
            <div ng-if="user.accountStatus == 'REJECTED'">
                <button ng-if="user.accountStatus == 'REJECTED'" class="btn btn-lg  btn-danger" ng-click="revoke(user.username)">Revoke</button>
            </div>
        </div>
    </div>

    <div class="row" ng-if="getRole() == 'USER'">
        <div class="col-sm-12" style="text-align:center;">
            <div ng-if="user.accountStatus == 'PENDING'">
                <h3>Your account is awaiting moderation</h3>
            </div>
            <div ng-if="user.accountStatus == 'REJECTED'">
                <h3>The administration chose to reject your registration</h3>
            </div>
        </div>
    </div>


    <div class="user-panel row">
        <div class="col-sm-2 panel-left">
            <ul>
                <li><a ui-sref="viewUser.new_auction">New Auction</a></li>
                <li><a ui-sref="viewUser.bids">Bids</a></li>
                <li><a ui-sref="viewUser.sold_items">Sold items</a></li>
                <li><a ui-sref="viewUser.bought_items">Bought items</a></li>
                <li><a ui-sref="viewUser.settings">Account Settings</a></li>
                <li ng-show=""><a ui-sref="viewUser.bought_items">Bought items</a></li>
            </ul>
        </div>

        <div class="col-sm-9 col-sm-offset-1 panel-right">
            <div class="ui-view-container">
                <div class="view-frame" ui-view ></div>
            </div>
        </div>
    </div>
</div>