
<div class="container-fluid">
    <link rel="stylesheet" href="/css/user-panel.css">
    <div class="user-panel jumbobutton">
        <div class="col-sm-4 panel-left">
            <ul>
                <li><a ui-sref="userPanel.settings">Account Settings</a></li>
                <li><a ui-sref="userPanel.bids">Bids</a></li>
                <li><a ui-sref="userPanel.selled_products">Selled products</a></li>
                <li><a ui-sref="userPanel.bought_products">Bought products</a></li>
            </ul>
        </div>
        <vr>
        <div class="col-sm-8 panel-right">
            <div class="ui-view-container">
                <div class="view-frame" ui-view></div>
            </div>
        </div>
    </div>
</div>