
<div class="container-fluid" ng-controller="GlobalController">
    <link rel="stylesheet" href="/css/user-panel.css">
    <div class="user-panel row">
        <div class="col-sm-2 panel-left">
            <ul>
                <li><a ui-sref="viewUser.settings">Account Settings</a></li>
                <li><a ui-sref="viewUser.bids">Bids</a></li>
                <li><a ui-sref="viewUser.sold_items">Sold items</a></li>
                <li><a ui-sref="viewUser.bought_items">Bought items</a></li>
            </ul>
        </div>

        <div class="col-sm-9 col-sm-offset-1 panel-right">
            <div class="ui-view-container">
                <div class="view-frame" ui-view ></div>
            </div>
        </div>
    </div>
</div>