
<div class="container-fluid">
    <link rel="stylesheet" href="/css/user-panel.css">
    <div class="row" ng-if="getRole() == 'ADMIN'" ng-controller="AdminController">
        <div class="col-sm-12" style="text-align:center;">
            <h3 style="text-align:center;"> Status : {{ user.accountStatus }} </h3>
            <div ng-if="user.accountStatus == 'PENDING'">
                <button  class="btn btn-lg  btn-danger" ng-click="accept()">Accept</button>
                <button class="btn btn-lg  btn-danger" ng-click="reject()">Reject</button>
            </div>
            <div ng-if="user.accountStatus == 'REJECTED'">
                <button ng-if="user.accountStatus == 'REJECTED'" class="btn btn-lg  btn-danger" ng-click="revoke()">Revoke</button>
            </div>
        </div>
    </div>

    <div class="row" ng-if="getRole() == 'USER'">
        <div class="col-sm-12" style="text-align:center;">
            <div ng-if="user.accountStatus == 'PENDING'">
                <h3>Your account is awaiting moderation</h3>
            </div>
            <div ng-if="user.accountStatus == 'REJECTED'">
                <h3>The administration chose to reject your registration</h3>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-2 panel-left">
            <ul class="nav nav-sidebar">
                <li><a ui-sref="viewUser.createItem({username:user.username})">New Auction</a></li>
                <li><a ui-sref="viewUser.activeAuctions({username:user.username})">Active Auctions</a></li>
                <li><a ui-sref="viewUser.activeBids({username:user.username})">Active Bids</a></li>
                <li role="separator" class="divider"></li>
                <li><a ui-sref="viewUser.createMessage({username:user.username})">New Message</a></li>
                <li><a ui-sref="viewUser.receivedMessages({username:user.username})">Inbox</a></li>
                <li><a ui-sref="viewUser.sentMessages({username:user.username})">Sent</a></li>
                <li role="separator" class="divider"></li>
                <li><a ui-sref="viewUser.settings">Account Settings</a></li>
            </ul>
        </div>

        <div class="col-sm-10 panel-right">
            <div class="ui-view-container">
                <div class="view-frame" ui-view ></div>
            </div>
        </div>
    </div>
</div>