/*
.user-panel label {
    display: block;
}
.user-panel {
    min-height: 700px;
    background-color: lightgray;
    border-radius: 5px;
    padding: 10px;
    margin : 10px

}

.panel-left {
    background-color: azure;
    padding: 20px;
    border-radius : 5px;

}

.panel-right {
    min-height: 700px;

}

.view-frame {
    background-color: lightgray;
}

.panel-left ul{
    padding: 10px;
    list-style: none;
}
*/
