.grid-item {
    background-color: aliceblue;
    border-radius: 2px;
    padding: 10px;
    margin: 10px 0;
}


div.grid-section img {
    width: 50%;
    margin-right: 5%;
}
.grid-item button {
    width: 100%;
    margin: 10px 0;
}


 /*.grid-item div.grid-section {*/
    /*clear: both;*/
/*}*/
