<!doctype html>
<html ng-app="ebay" ng-controller="GlobalScopeController as gsc">
<head>
    <meta charset="utf-8">
    <title>E-bid</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/css/app.css">
    <!--<link rel="stylesheet" type="text/css" href="/css/animations.css">-->
</head>

<header>
    <!-- NAVBAR -->
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <!-- LOGO -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                        data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/#welcome">E-bid</a>
            </div>
            <!-- COLLAPSING PART -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <!-- SEARCH BAR -->
                <form class="navbar-form navbar-left" role="search" style="margin-left: 24%;">
                    <div class="input-group">
                        <input type="text" class="form-control" placeholder="Search..." style="width:500px;">
s
                        <div class="input-group-btn" ng-init="categoryFilter = 'All'">
                            <a href="/#store">
                                <button type="button" class="btn btn-default"><i class="glyphicon glyphicon-search"></i>
                                </button>
                            </a>
                            <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown"
                                    aria-haspopup="true" aria-expanded="false">
                                <span class="caret"></span>
                                {{categoryFilter}}
                            </button>
                            <ul class="dropdown-menu dropdown-menu-right">
                                <li>
                                    <a href ng-click="categoryFilter = 'All'; items = allItems;">All</a>
                                </li>
                                <li role="separator" class="divider"></li>
                                <li ng-repeat="cat in categories | orderBy:name">
                                    <a href ng-click="$parent.categoryFilter = cat.name; $parent.items = cat.items;">{{cat.name}}</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </form>
                <!-- SORT OPTIONS -->
                <ul class="nav navbar-nav">
                    <li class="dropdown" ng-init="sort = 'name'">
                        <a class="dropdown-toggle" data-toggle="dropdown"  aria-haspopup="true"
                           aria-expanded="false">Sort By: {{sort}}<span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a ng-click="sort = 'name'">Name<i class="glyphicon glyphicon-arrow-up"></i></a>
                            </li>
                            <li><a ng-click="sort = '-name'">Name<i class="glyphicon glyphicon-arrow-down"></i></a>
                            </li>

                            <li><a ng-click="sort = 'currently'">Current Bid<i
                                    class="glyphicon glyphicon-arrow-up"></i></a></li>
                            <li><a ng-click="sort = '-currently'">Current Bid<i
                                    class="glyphicon glyphicon-arrow-down"></i></a></li>

                            <li><a ng-click="sort = 'description'">Description</a></li>
                            <li><a ng-click="sort = 'category'">Category</a></li>
                        </ul>
                    </li>
                </ul>
                <!-- SIGN CONTROLS -->
                <ul class="nav navbar-nav navbar-right" ng-controller="SignInController as signInCtrl" >
                    {{signInCtrl.role}}
                    {{signInStatus}}
                    <li ng-if="signInCtrl.role === 'guest'"><a href="" data-toggle="modal" data-target="#signInModal">Sign In</a></li>
                    <li ng-if="signInCtrl.role === 'guest'"><a href="" data-toggle="modal" data-target="#signUpModal">Sign Up</a></li>

                    <li ng-if="signInCtrl.role === 'user'"><a href="" ng-click="role = 'guest'">Sign Out</a></li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav>

</header>
<body>
<div class="view-container">
    <div ng-view class="view-frame"></div>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
<!-- angular and js -->
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.4/angular.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.4/angular-route.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.4/angular-animate.min.js"></script>
<script src="js/app.js"></script>
<script src="js/services.js"></script>
<script src="js/controllers.js"></script>
<script src="js/angular-resource.min.js"></script>
<script src="js/filters.js"></script>
<script src="js/directives.js"></script>
</body>

<!-- MODALS -->
<!-- SIGN IN MODAL -->
<div id="signInModal" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title" style="text-align: center">Sign In</h4>
            </div>
            <form name="signInForm" ng-controller="SignInController as signInCtrl"
                  ng-submit="signInForm.$valid && signIn()" novalidate>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-lg-4 col-lg-offset-4">
                            <div class="input-group">
                                <input type="text" class="form-control" placeholder="Username"
                                       ng-model="form.credentials.username" required>
                                <input type="password" class="form-control" placeholder="Password"
                                       ng-model="form.credentials.password" required>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer" style="text-align: center">
                    <button type="submit" class="btn btn-default">Sign In</button>
                    <p>
                        {{signInStatus}}
                    </p>
                </div>
            </form>
        </div>
    </div>
</div>
<!-- SIGN UP MODAL -->
<div id="signUpModal" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title" style="text-align: center">Sign Up</h4>
            </div>
            <form name="signUpForm" ng-controller="SignUpController as signUpCtrl"
                  ng-submit="signUpForm.$valid && registerUser()" novalidate>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-lg-4 col-lg-offset-4">
                            <div class="input-group">
                                <input name="username" type="text" class="form-control" placeholder="Username"
                                       ng-model="username" required>
                                <input name="email" type="email" class="form-control" placeholder="email"
                                       ng-model="email" required>
                                <input type="text" class="form-control" placeholder="Password"
                                       ng-model="password" required>
                                <input type="text" class="form-control" placeholder="Re-type Password"
                                       ng-model="password" required>
                                <input type="text" class="form-control" placeholder="First Name"
                                       ng-model="firstName" required>
                                <input type="text" class="form-control" placeholder="Last Name"
                                       ng-model="lastName" required>
                                <input name="phone" type="text" class="form-control" placeholder="Phone Number"
                                       ng-model="phoneNumber">
                                <input type="text" class="form-control" placeholder="Social Security Number"
                                       ng-model="socialSecurityNumber">
                                <input type="text" class="form-control" placeholder="Address"
                                       ng-model="address">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer" style="text-align: center">
                    <button type="submit" class="btn btn-default">Sign Up</button>
                </div>
            </form>
        </div>
    </div>
</div>
</html>
